html,
body {
  /* background-color: #282c34; */
  background-color: #0B004A;
  text-align: center;
  color: white;
}

.mainContainer,
.upperContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.trini {
  width: 400px;
  border-radius: 20px;
}