button {
  color: white;
  font-size: 40px;
  font-family: Roboto, sans-serif;
  width: 150px;
  height: 60px;
  margin: 0px 15px;
  border: solid 2px white;
  border-radius: 15px;
  cursor: pointer;
}

button:hover {
  background-color: #94043B
}

.btnReset,
.btnClick {
  background-color: #5F0785
}