.contador {
  width: 320px;
  height: 120px;
  font-size: 100px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.25rem solid white;
  border-radius: 1rem;
  background-color: #3f4553;
  margin: 10px
}